<div class="row">
    <div class="co-md-12 col-lg-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">تنظیمات</h4>
            </div>

            <div class="box-body">
                <form action="/admin/settings" method="POST">
                    <div class="row mbn-20">

                        <!-- Form Field -->
                        <div class="col-lg-4 col-12 mb-20">
                            <h6 class="mb-15">عمومی</h6>
                            <div class="row mb-15">
                                <div class="col-12 mb-30">
                                    <input type="text" name="website_title" class="form-control" placeholder="عنوان وب سایت" value="{{config.website_title}}">
                                </div>
                                <div class="col-12 mb-30">
                                    <textarea name="website_description" class="form-control"
                                        placeholder="توضیحات وب سایت">{{config.website_description}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-20">
                            <h6 class="mb-15">محتوا</h6>
                            <div class="row mb-15">
                                <div class="col-12 mb-30">
                                    <input type="number" name="posts_per_page" class="form-control" placeholder="هر صفحه"
                                        value="{{config.posts_per_page}}">
                                </div>
                                <div class="col-12 mb-30">
                                    <label class="admox-checkbox"><input name="users_can_submit_comment"
                                            type="checkbox" {{#isChecked config.users_can_submit_comment}}checked{{/isChecked}}><i class="icon"></i>کاربران می توانند
                                        دیدگاه ثبت کنند</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-20">
                            <h6 class="mb-15">عضویت</h6>
                            <div class="row mb-15">
                                <div class="col-12 mb-30">
                                    <label class="admox-checkbox"><input name="users_can_register" type="checkbox" {{#isChecked config.users_can_register}}checked{{/isChecked}}><i class="icon"></i>هر کسی می تواند ثبت نام کند</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <button type="submit" class="button button-primary"><span>ذخیره سازی</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>